:root {
    --light-darker: rgb(63, 62, 62);
    --body-color: #aa703f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(153, 245, 248, 0.5);
    font-family: sans-serif;
}

.container {
    width: 95%;
    margin: auto;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left,
.right {
    /*border:  1px solid black;*/
    flex-direction: column;
    width: 50%;
}

.left h1 {
    font-size: 3.5rem;
    width: 100%;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--light-darker);
}

.generate {
    width: 95%;
    border-radius: 5px;
    padding: 20px 15px 17px;
    /*background-color: var(--body-color);*/
    /*box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.5);*/
    margin-bottom: 2rem;
}

.generate p,
.loading p {
    margin: 0.85rem 0 0 0;
    font-size: 20.5px;
}

.generate p label,
.loading p label {
    font-weight: bold;
    color: rgb(63, 62, 62);
    /*margin-bottom: 20px;*/
}

.generate p:nth-child(2) {
    margin-bottom: 10px;
}

.generate input,
.generate select,
.loading input {
    padding: 10px 5px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    text-decoration: none;
    color: #797777;
    direction: ltr;
    transition: ease-in-out 0.3s;
    background-color: white;
}

.generate input,
.loading input {
    font-size: 17.5px;
    color: rgba(245, 245, 245, 0.5);
}

.generate input:focus,
.loading input:focus {
    background-color: transparent;
}

.loading {
    width: 95%;
    border-radius: 5px;
    padding: 20px 12px 10px 12px;
    background-color: var(--body-color);
}

.generate button,
.loading button {
    cursor: pointer;
    display: flex;
    padding: 8px 20px;
    margin: 10px 0;
    color: rgba(48, 46, 46, 0.884);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    background-color: white;
    transition: all ease-in-out 0.3s;
}

.generate button:hover,
.loading button:hover {
    letter-spacing: 2px;
    color: rgba(48, 47, 47, 0.5);
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width:1024px) {
    .left h1 {
        font-size: 2.8rem;
    }
}

@media (max-width:768px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box {
        width: 95%;
        /*border: 1px solid black;*/
    }

    .left h1 {
        font-size: 1.9rem;
    }

    /* .box{
        width: 100%;
        padding: 0;
        margin: 15px;
    }*/

    body {
        font-size: 18px;
    }

    .generate input,
    .generate select,
    .loading input {
        padding: 7px 5px;
    }

    .generate button,
    .loading button {
        padding: 6px 5px;
    }
}